h1 {
  color:floralwhite;
  border-style: dotted;
  text-align: center;
  font-weight: bold;
  text-shadow: 10px 10px 5px;
  background: black;
  height: 3em;
}
li {
  border-style: groove;
  text-align: center;
  background-color: crimson;
}
label {
  font-weight: bold;
}